<table class="bordered highlight">
  <thead>
    <tr>
      <td>Time</td>
      <td class="ticket-id">Ticket</td>
      <td>Status</td>
      <td>Sender</td>
      <td>Nag Group</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
