<div class="fullpage">
  <p class="instructions">
    Click below to send a gentle reminder to the users you're waiting on.
    <i class="material-icons tooltipped tiny" data-delay="40" data-tooltip="We remind your users by adding a public comment to each ticket in the 'Waiting on user' state.">info_outline</i>
  </p>
  <button id="send_nags" class="waves-effect waves-light btn">
    <i class="material-icons right">email</i> Send Nags
  </button>
</div>
