<div class="ticket">
  <p class="instructions">
    Click below to send a gentle reminder for this ticket.
    <i class="material-icons tooltipped tiny" data-delay="40" data-tooltip="We remind your users by adding a public comment to the ticket.">info_outline</i>
  </p>
  <button id="send_nag" class="waves-effect waves-light btn">
    <i class="material-icons right">email</i> Send Nag
  </button>

  <hr class="space-it"/>

  <div class="nag-history">
    <h5 class=""><i class="material-icons">done_all</i>Nag History</h5>
    <div class="">
      <%= render partial: 'home/nag_history' %>
    </div>
  </div>
</div>

<%= javascript_tag "UserNag.ticketPlacement = true;" %>
