// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require_tree .

window.UserNag = {
  ticketPlacement: false,
  ticketsNagged: [],
  failedNags: [],
  nag: function(e){
    if(e.data) {
      // Single ticket
      UserNag.nagSingle(e.data);
    } else {
      // All tickets in "waiting" state
      UserNag.nagAll();
    }
  },
  nagSingle: function(ticketId){
    var card = UserNag.card;
    UserNag.nagTicket(ticketId).then(function(){
        Materialize.toast('Ticket nagged.', 3000);
        UserNag.log(ticketId);
    });
  },
  nagAll: function(){
    var card = UserNag.card;
    card.services('helpdesk').request('tickets', {status: 'open'}).then(function(t){
      var ticketList = t['tickets'];
      var promises = [];
      for(var i=0; i < ticketList.length; i++){
        var tick = ticketList[i];
        if(tick['status'] == 'waiting') {
          promises.push(UserNag.nagTicket(tick['id']));
        }
      }
      Promise.all(promises).then(function(){
        Materialize.toast('' + UserNag.ticketsNagged.length + ' tickets successfully nagged.', 4500);
        UserNag.log(false);
      });
    });
  },
  nagTicket: function(ticketId){
    var card = UserNag.card;
    return card.services('helpdesk').request('comment:create', ticketId, {
      public: true,
      body: 'woot!'
    }).then(function(d){
      UserNag.ticketsNagged.push(ticketId);
    }, function(e){
      UserNag.failedNags.push(ticketId);
      Materialize.toast('Unable to send nag for ticket #' + ticketId + '.', 3000);
    });
  },
  log: function(specificTicket){
    var goodNags = specificTicket ? specificTicket : UserNag.ticketsNagged;
    $.post('/nag_history', {
      site: UserNag.site,
      stid: goodNags,
      ftid: UserNag.failedNags,
      me: UserNag.user,
      ts: !!specificTicket
    });
    UserNag.ticketsNagged = [];
    UserNag.failedNags = [];
  },
  loadHistory: function(data){
    var $hist = $('.nag-history tbody');
    $hist.empty();
    var senders = {};
    for(var i = 0; i < data.length; i++){
      var user = data[i]['nagging_user_id'];
      senders[user] = true;
      $('<tr><td>'+data[i]['created_at']+
        '</td><td class="ticket-id">'+data[i]['ticket_id']+
        '</td><td><i class="material-icons tooltipped" data-position="left" data-tooltip="'+(data[i]['successful'] ? 'Successful Nag">done' : 'Unable to send Nag">report_problem')+
        '</i></td><td class="user" data-user-id="'+user+'">'+user+
        '</td><td>'+data[i]['action_id']+
        '</td></tr>').appendTo($hist);
    }
    $hist.find('.tooltipped').tooltip({delay: 40});
    UserNag.nameSenders($hist, senders);
  },
  nameSenders: function($hist, senders){
    var card = UserNag.card;
    for(var userId in senders) {
      var z = card.services('people').request('person', parseInt(userId)).then(function(user){
        $hist.find('td.user[data-user-id='+user.id+']').text(user.first_name + ' ' + user.last_name);
      });
    }
  }
};
$('document').ready(function() {
  var card = new SW.Card();
  UserNag.card = card;
  card.onActivate(function(envData) {
    UserNag.env = envData;
    $('#auid').val(envData['app_host']['auid']);
    UserNag.site = envData['app_host']['auid'];
    UserNag.user = envData['user']['id'];

    if(!UserNag.ticketPlacement) {
      $('#site').val(UserNag.site);
      // Only request all nags if we're not on a specific ticket
      $.getJSON('/nag_history', {site: UserNag.site}, UserNag.loadHistory);
      $('#send_nags').on('click', window.UserNag.nag);
    }
  });

  card.services('helpdesk').on('showTicket', function(ticketId) {
    $.getJSON('/nag_history', {site: UserNag.site, ticket_id: ticketId}, UserNag.loadHistory);
    $('#send_nag').on('click', ticketId, UserNag.nag);
  });
});
